.exercise {
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

.name {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: large;
}

.sets,
.reps {
  text-align: right;
}
