.main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.toast {
  position: fixed;
  top: 10vh;
  right: 2vw;
  width: 300px;
  text-align: left;
}

.btncenter {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.form {
  padding: 10vh 10vw;
  position: relative;
}

.form h2,
.form label,
.form button:hover {
  color: #0D47A1;
}

.form h2 {
  margin-bottom: 10vh;
  text-align: center;
}

.form input[type=text] {
  border: 2px solid #2196F3;
  border-radius: 4px;
}

.form button {
  margin-top: 3vh;
  background-color: #2196F3;
  padding: 1vh 1vw;
}

@media (max-width: 576px) {
  .main {
    margin-top: 0;
    display: block;
  }
}
