.main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.toast {
  position: fixed;
  top: 10vh;
  right: 2vw;
  width: 300px;
  text-align: left;
}

@media (max-width: 576px) {
  .main {
    margin-top: 0;
    display: block;
  }
}
