/* Contains the image and the text */
/* Contains the image and the text */

.element,
.selement {
  display: flex;
  height: 115px;
  width: 25vw + 120px + 60px;
  padding: 0.5vw;
}

.selement {
  margin: 0 auto;
  justify-content: center;
}

.star {
  margin: auto;
  display: block;
  margin-left: 1vw;
}

/* text in list */
.txt h1,
.stxt h1,
.txt p,
.stxt p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stxt {
  text-align: center;
  width: 24vw;
}

.stxt h1 {
  font-size: xx-large;
  margin: 10px 0 0 0;
}

.stxt p {
  font-size: large;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0;
}

/* text in list */
.txt {
  text-align: left;
  width: 15vw;
  /* margin-left: 0.5vw; */
}

.txt h1 {
  font-size: xx-large;
  margin: 10px 0 0 5px;
}

.txt p {
  font-size: large;
  font-style: italic;
  font-weight: 300;
  margin-left: 6px;
  margin-bottom: 0;
}

.thumbimg {
  aspect-ratio: 1 / 1;
  align-self: center;
  align-items: center;
}

@media only screen and (max-width: 576px) {
  .element {
    display: flex;
    width: 80vw;
    min-width: fit-content;
  }

  .txt h1 {
    font-size: x-large;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    text-overflow: ellipsis;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
  }

  .txt p {
    font-size: large;
    font-style: italic;
    font-weight: 300;
    margin-left: 6px;
    margin-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 576px) {
  .element {
    display: flex;
    width: 80vw;
    min-width: fit-content;
  }

  .txt h1 {
    font-size: x-large;
    margin-top: 10px;
    margin-left: 5px;
    text-align: left;
    text-overflow: ellipsis;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
  }

  .txt p {
    font-size: large;
    font-style: italic;
    font-weight: 300;
    margin-left: 6px;
    margin-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
  }
}
