.instructions {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 20px;
  margin: 2vh 0;
  height: 30vh;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
  scrollbar-width: auto;
}

.line {
  display: inline-block;
  padding: 0.5em 0;
  text-align: justify;
}
