/* div display */
.element {
  display: flex;
  text-align: left;
}

/* text in list */
.txt h1 {
  font-size: x-large;
  margin-top: 6px;
  margin-left: 5px;
  /* margin-bottom: 0; */
}

.txt p {
  font-size: large;
  font-style: italic;
  font-weight: 300;
  margin-left: 6px;
  margin-bottom: 0;
}

/* Photo */
.photo {
  height: 80px;
  padding: 3px;
}
