.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: auto;
  min-height: 0;
}

/* div display */
.element {
  display: flex;
  text-align: left;
}

/* text in list */
.txt h1 {
  font-size: x-large;
  margin-top: 10px;
  margin-left: 5px;
}

.txt p {
  font-size: large;
  font-style: italic;
  font-weight: 300;
  margin-left: 6px;
  margin-bottom: 0;
}
