/* Contains both the side card and list */
.main {
  padding: 10vh 2vw;
}

/* Makes the list scrollable if it overflows */
.scrollableContainer {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: auto;
  min-height: 0;
  padding: 1vw;
  scrollbar-width: auto;
}
