.navbar {
  background-color: #2196f3;
}

.title {
  font-size: x-large;
  color: #eeeeee;
  padding: 0 12px;
}

.items {
  margin: 0%;
}

.item {
  font-size: large;
  text-align: center;
  color: #d5d5d5;
}

.item:hover {
  color: #f8f8f8;
}

@media (max-width: 576px) {
  .item {
    font-size: x-large;
  }

  .items {
    margin: auto;
    gap: 5vh;
  }
}
