.container {
  /* padding-top: 10px; */
  padding-bottom: 20px;
  height:11vh;
}

.filter, .container input {
  text-align: center;
  font-size: 1.5vw;
}

.container input {
  background-image: url(../public/search.svg);
  background-size: 8%;
  background-position: 5.2vw 2.5vh;
  background-repeat: no-repeat;
  text-indent: 20px;
}

.container ::-webkit-input-placeholder {
  text-align: center;
}

.container :-moz-placeholder {
  text-align: center;
}
