.container {
  /* padding-top: 10px; */
  padding-bottom: 20px;
  height: 11vh;
  /* padding: 0; */
}

.filter,
.container input {
  text-align: center;
}

.container input {
  background: url(../public/search.svg) center;
  background-repeat: no-repeat;
  background-position: left 4vw center;
}

.container ::-webkit-input-placeholder {
  text-align: center;
}

.container :-moz-placeholder {
  text-align: center;
}
